In [12]:
import numpy as np
import pandas as pd

In [37]:
# Load the df
df = pd.read_csv('SDGSUICIDE,SDG_SH_STA_SCIDEN.csv')

In [38]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1',
       'Crude suicide rates (per 100 000 population)',
       'Crude suicide rates (per 100 000 population).1',
       'Crude suicide rates (per 100 000 population).2',
       'Crude suicide rates (per 100 000 population).3',
       'Crude suicide rates (per 100 000 population).4'],
      dtype='object')

In [56]:
df.rename(columns={'Unnamed: 0':'country','Unnamed: 1':'gender',
                   'Crude suicide rates (per 100 000 population)':'2016',
                   'Crude suicide rates (per 100 000 population).1':'2015',
                   'Crude suicide rates (per 100 000 population).2':'2010',
                    'Crude suicide rates (per 100 000 population).3':'2005',
                    'Crude suicide rates (per 100 000 population).4':'2000'},inplace=True)

In [57]:
df.columns

Index(['country', 'gender', '2016', '2016', '2015', '2010', '2000'], dtype='object')

In [58]:
df.head()

       country       gender    2016    2016    2015    2010    2000
0      Country          Sex  2016.0  2015.0  2010.0  2005.0  2000.0
1  Afghanistan   Both sexes     4.7     4.8     5.1     6.3     5.7
2  Afghanistan         Male     7.6     7.8     8.6    10.8    10.0
3  Afghanistan       Female     1.5     1.5     1.4     1.5     1.0
4      Albania   Both sexes     6.3     6.0     7.8     6.7     5.5

In [65]:
# df.drop(0)
df.head()

       country       gender  2016  2016  2015  2010  2000
1  Afghanistan   Both sexes   4.7   4.8   5.1   6.3   5.7
2  Afghanistan         Male   7.6   7.8   8.6  10.8  10.0
3  Afghanistan       Female   1.5   1.5   1.4   1.5   1.0
4      Albania   Both sexes   6.3   6.0   7.8   6.7   5.5
5      Albania         Male   7.9   7.6   9.5   7.7   7.4

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 1 to 549
Data columns (total 7 columns):
country    549 non-null object
gender     549 non-null object
2016       549 non-null float64
2016       549 non-null float64
2015       549 non-null float64
2010       549 non-null float64
2000       549 non-null float64
dtypes: float64(5), object(2)
memory usage: 54.3+ KB

In [35]:
df['Crude suicide rates (per 100 000 population)'].value_counts()

4.7       11
2.9        9
6.6        8
3.3        8
2.7        8
          ..
18.1       1
30.6       1
5.2        1
17.7       1
2016.0     1
Name: Crude suicide rates (per 100 000 population), Length: 209, dtype: int64