http://apps.who.int/gho/data/view.main.MHSUICIDEv?lang=en    (Table to get suicide rates by country. WHO website)  
  
https://en.wikipedia.org/wiki/List_of_countries_by_suicide_rate  (Wiki page to obtain top 10 highest suicide rates asia countries)

In [ ]:
loop through the table:
# run for loop to take out an iterable country from a list of countries you are considering




# Data from WHO
male_suicide_rate = []
female_suicide_rate = []
both_suicide_rate = []
country_row = []
country_list = ['top asia countries with the highest suicide rate as of 2016']

number_of_countries = 10
df_columns = ['country', 'year', 'suicide rate', 'GDP', 'celebrity_suicides',
              'hrs_studying','test_scores','alc_consump','unemployment_rate',
              'days_spring','days_summer','days_autumn','days_winter']

years_in_database = ['2016', '2015', '2010', '2005', '2000']
# Create a loop to loop through the table. 
# Combine highest suicide rate countries. (Already done that through google)
# 



for country in country_list:
    if country_data_cell == 'country':
        male_suicide_rate_2016 = tr.find_all
        female_sucide_rate_2016 = tr.find_all
        both_suicide_rate_2016 = tr.findall
        
        male_suicide_rate_2015 = tr.find_all
        female_sucide_rate_2015 = tr.find_all
        both_suicide_rate_2015 = tr.findall
        
        male_suicide_rate_2010 = tr.find_all
        female_sucide_rate_2010 = tr.find_all
        both_suicide_rate_2010 = tr.findall
        
        male_suicide_rate_2005 = tr.find_all
        female_sucide_rate_2005 = tr.find_all
        both_suicide_rate_2005 = tr.findall
        
        male_suicide_rate_2000 = tr.find_all
        female_sucide_rate_2000 = tr.find_all
        both_suicide_rate_2000 = tr.findall
        
        country_row.append(country)