In [5]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV

import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style('whitegrid')

### Section 1: DataFrame Loading, Cleaning

In [57]:
dir()  # Returns you all the variables in the current environment

# Refer to this link: https://stackoverflow.com/questions/633127/viewing-all-defined-variables
# To find out out to view all defined variables in the current environment

['In',
 'LinearRegression',
 'Out',
 'RidgeCV',
 '_',
 '_11',
 '_13',
 '_15',
 '_17',
 '_25',
 '_28',
 '_29',
 '_31',
 '_33',
 '_34',
 '_35',
 '_36',
 '_38',
 '_41',
 '_45',
 '_46',
 '_47',
 '_49',
 '_51',
 '_54',
 '_55',
 '_6',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'np',
 'patsy',
 'pd',
 'plt',
 'quit',
 'sm',
 'smf',
 'sns']

In [58]:
df_main = pd.read_csv('sgcarmart_used_cars_prices.csv',index_col=0)
df_main

,LISTING_URL,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
0,https://www.sgcarmart.com/used_cars/info.php?I...,Honda,58800.0,5880.0,24-Oct-2009,81000.0,2008,978.0,Auto,NaN,23/10/2019,28040.0,28040.0,NaN,0.0,1799,1219.0,1.0,Mid-Sized Sedan
1,https://www.sgcarmart.com/used_cars/info.php?I...,Honda,62800.0,6270.0,10-Nov-2009,106087.0,2009,1628.0,Auto,NaN,23/10/2019,33532.0,33532.0,NaN,0.0,2354,1680.0,3.0,MPV
2,https://www.sgcarmart.com/used_cars/info.php?I...,Austin,30000.0,16950.0,28-Sep-1972,NaN,1972,NaN,Manual,834.0,23/10/2019,NaN,NaN,4711.0,642.0,998,NaN,NaN,Others
3,https://www.sgcarmart.com/used_cars/info.php?I...,Audi,70800.0,16580.0,05-Dec-2011,140800.0,2011,2380.0,Auto,58899.0,23/10/2019,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV
4,https://www.sgcarmart.com/used_cars/info.php?I...,Toyota,65800.0,6850.0,26-Jun-2009,117000.0,2009,974.0,Auto,38024.0,23/10/2019,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,https://www.sgcarmart.com/used_cars/info.php?I...,Toyota,104500.0,16550.0,02-Jun-2014,47638.0,2014,3100.0,Auto,78422.0,23/10/2019,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV
3983,https://www.sgcarmart.com/used_cars/info.php?I...,Mercedes-Benz,115000.0,15260.0,11-Mar-2015,51500.0,2012,974.0,Auto,85824.0,23/10/2019,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car
3984,https://www.sgcarmart.com/used_cars/info.php?I...,MINI,119800.0,13150.0,07-Jun-2017,16000.0,2017,1210.0,Auto,69888.0,23/10/2019,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car
3985,https://www.sgcarmart.com/used_cars/info.php?I...,Nissan,81800.0,9900.0,05-Aug-2016,53339.0,2015,1786.0,Auto,60983.0,23/10/2019,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan
3986,https://www.sgcarmart.com/used_cars/info.php?I...,Lexus,113668.0,16140.0,25-May-2015,16687.0,2015,NaN,Auto,78749.0,23/10/2019,49907.0,46870.0,78004.0,2036.0,2494,1635.0,1.0,Luxury Sedan

In [59]:
df_main.columns

Index(['LISTING_URL', 'BRAND', 'PRICE', 'DEPRE_VALUE_PER_YEAR', 'REG_DATE',
       'MILEAGE_KM', 'MANUFACTURED_YEAR', 'ROAD_TAX_PER_YEAR', 'TRANSMISSION',
       'DEREG_VALUE_FROM_SCRAPE_DATE', 'SCRAPE_DATE', 'OMV', 'ARF',
       'COE_FROM_SCRAPE_DATE', 'DAYS_OF_COE_LEFT', 'ENGINE_CAPACITY_CC',
       'CURB_WEIGHT_KG', 'NO_OF_OWNERS', 'VEHICLE_TYPE'],
      dtype='object')

In [60]:
df_clean = df_main.drop(['LISTING_URL', 'SCRAPE_DATE'],axis=1)
df_clean

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
0,Honda,58800.0,5880.0,24-Oct-2009,81000.0,2008,978.0,Auto,NaN,28040.0,28040.0,NaN,0.0,1799,1219.0,1.0,Mid-Sized Sedan
1,Honda,62800.0,6270.0,10-Nov-2009,106087.0,2009,1628.0,Auto,NaN,33532.0,33532.0,NaN,0.0,2354,1680.0,3.0,MPV
2,Austin,30000.0,16950.0,28-Sep-1972,NaN,1972,NaN,Manual,834.0,NaN,NaN,4711.0,642.0,998,NaN,NaN,Others
3,Audi,70800.0,16580.0,05-Dec-2011,140800.0,2011,2380.0,Auto,58899.0,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV
4,Toyota,65800.0,6850.0,26-Jun-2009,117000.0,2009,974.0,Auto,38024.0,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,Toyota,104500.0,16550.0,02-Jun-2014,47638.0,2014,3100.0,Auto,78422.0,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV
3983,Mercedes-Benz,115000.0,15260.0,11-Mar-2015,51500.0,2012,974.0,Auto,85824.0,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car
3984,MINI,119800.0,13150.0,07-Jun-2017,16000.0,2017,1210.0,Auto,69888.0,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car
3985,Nissan,81800.0,9900.0,05-Aug-2016,53339.0,2015,1786.0,Auto,60983.0,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan
3986,Lexus,113668.0,16140.0,25-May-2015,16687.0,2015,NaN,Auto,78749.0,49907.0,46870.0,78004.0,2036.0,2494,1635.0,1.0,Luxury Sedan

In [61]:
# We see that we have NA entries in this dataset. We want to drop these NA values or they will pose problems for us later

# The null values can be attributed to the fact that some data is not keyed in the listing itself, 
# or formatting issues due to the varying ways of which people organize the information of the car in a single listing
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3987 entries, 0 to 3986
Data columns (total 17 columns):
BRAND                           3987 non-null object
PRICE                           3962 non-null float64
DEPRE_VALUE_PER_YEAR            3876 non-null float64
REG_DATE                        3987 non-null object
MILEAGE_KM                      3338 non-null float64
MANUFACTURED_YEAR               3987 non-null object
ROAD_TAX_PER_YEAR               3833 non-null float64
TRANSMISSION                    3987 non-null object
DEREG_VALUE_FROM_SCRAPE_DATE    3221 non-null float64
OMV                             3963 non-null float64
ARF                             3957 non-null float64
COE_FROM_SCRAPE_DATE            3236 non-null float64
DAYS_OF_COE_LEFT                3963 non-null float64
ENGINE_CAPACITY_CC              3987 non-null int64
CURB_WEIGHT_KG                  3859 non-null float64
NO_OF_OWNERS                    3925 non-null float64
VEHICLE_TYPE                    3987 non-null object
dtypes: float64(11), int64(1), object(5)
memory usage: 560.7+ KB

In [62]:
df_clean.dropna(inplace=True)

In [63]:
# We now have 2584 rows of data after dropping null values

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2584 entries, 3 to 3985
Data columns (total 17 columns):
BRAND                           2584 non-null object
PRICE                           2584 non-null float64
DEPRE_VALUE_PER_YEAR            2584 non-null float64
REG_DATE                        2584 non-null object
MILEAGE_KM                      2584 non-null float64
MANUFACTURED_YEAR               2584 non-null object
ROAD_TAX_PER_YEAR               2584 non-null float64
TRANSMISSION                    2584 non-null object
DEREG_VALUE_FROM_SCRAPE_DATE    2584 non-null float64
OMV                             2584 non-null float64
ARF                             2584 non-null float64
COE_FROM_SCRAPE_DATE            2584 non-null float64
DAYS_OF_COE_LEFT                2584 non-null float64
ENGINE_CAPACITY_CC              2584 non-null int64
CURB_WEIGHT_KG                  2584 non-null float64
NO_OF_OWNERS                    2584 non-null float64
VEHICLE_TYPE                    2584 non-null object
dtypes: float64(11), int64(1), object(5)
memory usage: 363.4+ KB

In [65]:
# Taking a look at our data
df_clean.sample(5)

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
2157,Kia,54668.0,7940.0,07-Oct-2015,92213.0,2015,738.0,Auto,44012.0,14667.0,14667.0,55399.0,1858.0,1591,1295.0,1.0,Mid-Sized Sedan
3888,Toyota,89888.0,9440.0,11-Sep-2009,110000.0,2008,1638.0,Auto,33733.0,42773.0,42773.0,35411.0,3472.0,2362,1920.0,5.0,MPV
824,Jaguar,133800.0,14000.0,24-Mar-2017,37000.0,2017,1212.0,Auto,84453.0,48484.0,59878.0,53300.0,2705.0,1999,1660.0,1.0,Luxury Sedan
2336,BMW,117000.0,12260.0,30-Nov-2017,20600.0,2017,684.0,Auto,73005.0,34419.0,35187.0,57501.0,2956.0,1499,1425.0,2.0,Luxury Sedan
3877,Toyota,39998.0,6160.0,21-Apr-2006,151183.0,2006,1264.0,Auto,30823.0,20424.0,19740.0,47450.0,2348.0,1794,1300.0,4.0,MPV

In [72]:
print(df_clean.columns,'\n',len(df_clean.columns))

# We have 17 features in our columns

Index(['BRAND', 'PRICE', 'DEPRE_VALUE_PER_YEAR', 'REG_DATE', 'MILEAGE_KM',
       'MANUFACTURED_YEAR', 'ROAD_TAX_PER_YEAR', 'TRANSMISSION',
       'DEREG_VALUE_FROM_SCRAPE_DATE', 'OMV', 'ARF', 'COE_FROM_SCRAPE_DATE',
       'DAYS_OF_COE_LEFT', 'ENGINE_CAPACITY_CC', 'CURB_WEIGHT_KG',
       'NO_OF_OWNERS', 'VEHICLE_TYPE'],
      dtype='object')
 17

In [55]:
df_clean[df_clean['TRANSMISSION'] == "Manual"]

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
69,Mitsubishi,105000.0,17400.0,04-Nov-2005,189000.0,2005,1694.0,Manual,36527.0,23/10/2019,44370.0,48807.0,60519.0,2191.0,1997,1410.0,5.0,Sports Car
73,Audi,75000.0,21470.0,14-Jul-2011,83000.0,2009,1776.0,Manual,52487.0,23/10/2019,76004.0,76004.0,62000.0,605.0,2480,1510.0,3.0,Sports Car
103,Honda,78000.0,10480.0,25-Feb-2008,194000.0,2008,1331.0,Manual,37464.0,23/10/2019,23832.0,26216.0,50347.0,2713.0,1998,1270.0,5.0,Sports Car
114,Porsche,230000.0,22930.0,21-May-2010,69000.0,2010,3346.0,Manual,37615.0,23/10/2019,108446.0,108446.0,37502.0,8.0,3614,1490.0,6.0,Sports Car
130,Honda,92000.0,10100.0,28-Oct-2009,110000.0,2008,1210.0,Manual,29270.0,23/10/2019,33887.0,33887.0,32121.0,3322.0,1998,1270.0,4.0,Sports Car
228,Toyota,27800.0,5780.0,13-Aug-2009,155052.0,2009,684.0,Manual,14102.0,23/10/2019,11860.0,11860.0,14664.0,1730.0,1497,1075.0,1.0,Mid-Sized Sedan
345,Suzuki,39800.0,5090.0,17-Aug-2007,163800.0,2007,883.0,Manual,35499.0,23/10/2019,11813.0,12995.0,45400.0,2829.0,1586,1090.0,2.0,Hatchback
348,Mitsubishi,88800.0,10310.0,06-Jun-2008,150000.0,2008,1331.0,Manual,33335.0,23/10/2019,31656.0,31656.0,38712.0,3138.0,1998,1520.0,5.0,Sports Car
364,Hyundai,19800.0,4020.0,23-Sep-2009,71944.0,2009,442.0,Manual,14509.0,23/10/2019,6510.0,3171.0,14743.0,1460.0,1086,1122.0,2.0,Hatchback
737,Mitsubishi,24800.0,5480.0,22-May-2009,94000.0,2009,734.0,Manual,11840.0,23/10/2019,12304.0,8539.0,13088.0,1647.0,1584,1132.0,1.0,Mid-Sized Sedan
893,Hyundai,10800.0,6400.0,31-Aug-2006,80000.0,2006,75.0,Manual,7840.0,23/10/2019,8545.0,3501.0,23227.0,612.0,1086,1122.0,2.0,Hatchback
937,Kia,26800.0,5860.0,18-May-2009,91116.0,2008,738.0,Manual,12744.0,23/10/2019,14443.0,5932.0,13943.0,1644.0,1591,1227.0,1.0,Mid-Sized Sedan
995,Subaru,68999.0,7500.0,10-Feb-2009,130000.0,2008,1750.0,Manual,29020.0,23/10/2019,22227.0,22227.0,31553.0,3353.0,2457,1395.0,2.0,Sports Car
1137,Mitsubishi,93800.0,12930.0,23-Jan-2007,160000.0,2006,1452.0,Manual,38204.0,23/10/2019,26812.0,29494.0,52660.0,2615.0,1997,1320.0,3.0,Sports Car
1198,Mitsubishi,22888.0,4840.0,15-Jul-2009,117000.0,2009,734.0,Manual,14428.0,23/10/2019,11614.0,8928.0,15256.0,1701.0,1584,1162.0,1.0,Mid-Sized Sedan
1380,Mitsubishi,16800.0,7510.0,17-Jan-2007,145249.0,2006,881.0,Manual,11323.0,23/10/2019,10449.0,5588.0,25323.0,794.0,1584,1162.0,3.0,Mid-Sized Sedan
1441,Subaru,21000.0,5270.0,18-Oct-2008,94300.0,2008,752.0,Manual,12072.0,23/10/2019,12964.0,10753.0,15142.0,1129.0,1498,1310.0,4.0,Mid-Sized Sedan
1602,Mitsubishi,13500.0,6850.0,12-Oct-2006,190000.0,2006,954.0,Manual,10265.0,23/10/2019,10646.0,11711.0,26054.0,403.0,1584,1162.0,3.0,Mid-Sized Sedan
1640,Honda,51800.0,5250.0,04-Sep-2009,111000.0,2009,682.0,Manual,29105.0,23/10/2019,21240.0,21240.0,29485.0,3286.0,1496,1050.0,3.0,Hatchback
1744,Honda,135800.0,14150.0,27-Dec-2017,36000.0,2015,1208.0,Manual,69359.0,23/10/2019,34364.0,40110.0,48011.0,2983.0,1996,1270.0,1.0,Sports Car
1869,Chevrolet,14800.0,6690.0,28-Feb-2011,96000.0,2010,742.0,Manual,12142.0,23/10/2019,11516.0,11516.0,42999.0,489.0,1598,1285.0,3.0,Mid-Sized Sedan
1924,Honda,62800.0,6710.0,02-Mar-2009,94800.0,2008,1210.0,Manual,30910.0,23/10/2019,30911.0,30911.0,33018.0,3411.0,1998,1345.0,3.0,Sports Car
2191,Subaru,29800.0,11390.0,28-Jun-2011,171500.0,2007,1750.0,Manual,21329.0,23/10/2019,21344.0,21344.0,57100.0,609.0,2457,1395.0,4.0,Sports Car
2237,Lotus,120000.0,13500.0,10-Sep-2008,60000.0,2007,1331.0,Manual,29664.0,23/10/2019,65344.0,65344.0,33377.0,2927.0,1998,995.0,3.0,Sports Car
2356,Honda,173800.0,15840.0,11-Jan-2019,12000.0,2018,1208.0,Manual,71830.0,23/10/2019,45212.0,55297.0,32909.0,3353.0,1996,1451.0,1.0,Sports Car
2417,Chevrolet,14800.0,7980.0,28-Jan-2011,150000.0,2010,626.0,Manual,10241.0,23/10/2019,9386.0,9386.0,40123.0,459.0,1399,1131.0,2.0,Hatchback
2451,Suzuki,46800.0,5570.0,18-Mar-2008,140000.0,2008,810.0,Manual,33012.0,23/10/2019,12532.0,9995.0,39274.0,3043.0,1586,1090.0,4.0,Hatchback
2525,Kia,26300.0,5300.0,08-Oct-2009,130000.0,2009,738.0,Manual,15170.0,23/10/2019,13038.0,12794.0,15287.0,1494.0,1591,1227.0,1.0,Mid-Sized Sedan
2557,Mitsubishi,14800.0,6720.0,05-Jan-2007,15800.0,2006,881.0,Manual,11156.0,23/10/2019,11275.0,7204.0,25323.0,792.0,1584,1162.0,3.0,Mid-Sized Sedan
2996,Toyota,51800.0,7110.0,09-May-2016,54700.0,2015,682.0,Manual,39205.0,23/10/2019,15481.0,10481.0,47889.0,2375.0,1496,1080.0,2.0,Mid-Sized Sedan
3000,Kia,27800.0,5610.0,05-Oct-2009,99900.0,2009,50.0,Manual,15145.0,23/10/2019,13038.0,9696.0,15287.0,1491.0,1591,1227.0,1.0,Mid-Sized Sedan
3015,Hyundai,12800.0,11280.0,12-Jul-2010,162000.0,2010,738.0,Manual,6818.0,23/10/2019,9400.0,9400.0,29501.0,248.0,1591,1264.0,2.0,Mid-Sized Sedan
3183,Honda,75800.0,8230.0,07-Jan-2009,128000.0,2008,1210.0,Manual,28871.0,23/10/2019,28598.0,28598.0,31335.0,3349.0,1998,1270.0,4.0,Sports Car
3222,Kia,40800.0,5140.0,28-Sep-2007,32500.0,2006,530.0,Manual,34975.0,23/10/2019,7599.0,8359.0,44081.0,2589.0,1086,852.0,3.0,Hatchback
3492,Honda,19800.0,7080.0,10-Aug-2007,109500.0,2007,1174.0,Manual,14258.0,23/10/2019,19295.0,21225.0,25486.0,1007.0,1799,1190.0,2.0,Mid-Sized Sedan
3741,Renault,65800.0,13850.0,08-May-2013,85000.0,2012,1210.0,Manual,43732.0,23/10/2019,29655.0,33517.0,62000.0,1279.0,1998,1387.0,4.0,Sports Car
3912,Honda,78000.0,8760.0,17-Sep-2008,234861.0,2008,1331.0,Manual,29728.0,23/10/2019,24441.0,24441.0,33377.0,2924.0,1998,1390.0,1.0,Sports Car